.contact-section {
  padding: 60px 20px;
  text-align: center;
  /* background-color: #000; */
  color: white;
  border-radius: 50px;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  /*  */
}

.contact-subtitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 50px;
  font-size: 1rem;
  text-align: center;
}

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
}

.contact-card {
  background-color: #111;
  border-radius: 10px;
  padding: 30px 20px;
  width: 230px;
  text-align: center;
  transition: transform 0.3s;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.contact-icon {
  background-color: #222;
  width: 60px;
  height: 60px;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #f0a500;
}

.contact-card h4 {
  margin: 10px 0 5px;
  font-weight: 600;
}

.contact-card p {
  color: #ccc;
  font-size: 0.95rem;
  word-break: break-word;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact-section {
    padding: 40px 10px;
  }

  .contact-grid {
    flex-direction: column;
    align-items: center;
    gap: 24px; /* slightly tighter spacing for mobile */
  }

  .contact-card {
    width: 90%; /* fill most of screen */
    padding: 25px 15px;
  }

  .contact-icon {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
  }

  .contact-title {
    font-size: 2rem;
  }

  .contact-subtitle {
    font-size: 0.95rem;
    margin-bottom: 30px;
  }

  .contact-card p {
    font-size: 0.9rem;
  }
}

.contact-link a {
  color: #00d8ff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}
