/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: "/Users/dushyanthasrani/Desktop/my_portfolio/my-portfolio/public/background.jpg";
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}

* {
  font-family: 'Montserrat', sans-serif;
}


section {
  padding: 80px 100px;
  color: #e0e0e0;
  margin: 0;
  border-bottom: 1px solid #333;
 
}

section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

section p {
  font-size: 1rem;
  color: #bbb;
  text-align: justify;
}
p {
  font-size: 1.25rem;
  color: #bbb;
  text-align: justify;
}

h3{
  font-size: 1.75rem;
}

h4{
  font-size: 1.5rem;
}

li{
  font-size: 1rem;
}
